pipeline/unstatistic-extract-uncrime.json
{
	"name": "unstatistic-extract-uncrime",
	"properties": {
		"description": "Extract data from CSV into SQL",
		"activities": [
			{
				"name": "SP PipelineExecutionHistory_Create",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Create]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsakdevlinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP PipelineExecutionHistory_Update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Update]",
					"storedProcedureParameters": {
						"Description": {
							"value": {
								"value": "@variables('PipelineExecutionDescription')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@variables('PipelineExecutionStatus')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsakdevlinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy uncrime to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set filename",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RegionName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Sub Region",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubRegionName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CountryName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Count",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Count",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "src_csv_uncrimefile",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('container')",
								"type": "Expression"
							},
							"path": {
								"value": "@variables('path')",
								"type": "Expression"
							},
							"filename": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dst_sql_uncrime",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Configuration",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SP PipelineExecutionHistory_Create",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adf].[usp_Configuration_Get]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_dummy",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set container",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "container",
					"value": {
						"value": "@activity('Get Configuration').output.firstrow.container",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "path",
					"value": {
						"value": "@activity('Get Configuration').output.firstrow.path",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set filename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@pipeline().parameters.filename",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update filename",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy uncrime to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "update staging.uncrime_untyped\nset [FileName] = '@variables('filename')'\nwhere [FileName] is null;\nselect 1;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_dummy",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			}
		},
		"variables": {
			"PipelineExecutionDescription": {
				"type": "String",
				"defaultValue": "succeed"
			},
			"PipelineExecutionStatus": {
				"type": "String",
				"defaultValue": "succeed"
			},
			"container": {
				"type": "String"
			},
			"path": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "unstatistic"
		},
		"annotations": []
	}
}