pipeline/unstatistic-master-extract-uncrime.json
{
	"name": "unstatistic-master-extract-uncrime",
	"properties": {
		"description": "Extract data from CSV into SQL",
		"activities": [
			{
				"name": "SP PipelineExecutionHistory_Create",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Create]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsakdevlinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP PipelineExecutionHistory_Update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Update]",
					"storedProcedureParameters": {
						"Description": {
							"value": {
								"value": "@variables('PipelineExecutionDescription')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@variables('PipelineExecutionStatus')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsakdevlinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Configuration",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SP PipelineExecutionHistory_Create",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adf].[usp_Configuration_Get]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_dummy",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set container",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "container",
					"value": {
						"value": "@activity('Get Configuration').output.firstrow.container",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "path",
					"value": {
						"value": "@activity('Get Configuration').output.firstrow.path",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set filename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@pipeline().parameters.filename",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Truncate uncrime_untyped",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set container",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "truncate table staging.uncrime_untyped;\nselect 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_dummy",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"PipelineExecutionDescription": {
				"type": "String",
				"defaultValue": "succeed"
			},
			"PipelineExecutionStatus": {
				"type": "String",
				"defaultValue": "succeed"
			},
			"container": {
				"type": "String"
			},
			"path": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "unstatistic"
		},
		"annotations": []
	}
}